 <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
          <% users.each do |user| %>

          <tr>
            <td><%= image_tag user.get_profile_image(100, 100) %></td>
            <td><%= user.name %></td>
            <td>フォロー数: <%= user.followings.count %></td>
            <td>フォロワー数: <%= user.followers.count %></td>
          <td>
           <!--自分じゃなかったら-->
          <% unless current_user.id == user.id %>
           <!--フォローしてたら-->
            <% if current_user.following?(user) %>
              <%= link_to "フォローをはずす", user_relationships_path(user), method: :delete %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(user), method: :create %>
            <% end %>
          <% end %>
        </td>
           <td><%= render "relationships/btn", user: user %></td>
           <td><%= link_to "Show", user_path(user) %></td>
          </tr>
        <% end %>
        </thead>
      </table>