<%= render 'errors', user: @user%>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>User info</h1>
        <%= form_with model: @user do |f| %>
        <p>Name</p>
        <%= f.text_field :name %>
        <p>Image</p>
        <%= f.file_field :profile_image %>
        <p>Introduction</p>
        <%= f.text_area :introduction %>
        <%= f.submit 'Update User' %>
        <% end %>
    </div>
  </div>
</div>