<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'info', user: @user %>
    <%= render 'books/newbook', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
        <% @books.each do |book| %>

          <tr>
            <td>
              <%= link_to user_path(@user) do %>
              <%= image_tag book.user.get_profile_image(100, 100) %>
              <% end %>
              </td>
            <td><%= link_to book.title, book_path(book) %></td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
         <thead>
        <th>今日の投稿</th>
        <th>昨日の投稿</th>
        <th>前日比</th>
         </thead>
        <tbody>
          <td><%= @today_book.count %></td>
     <td><%= @yesterday_book.count %></td>
     <% if @yesterday_book.count == 0 %>
     <td>前日の投稿はなし</td>
     <% else %>
     <td><% @the_day_before =   @today_book.count / @yesterday_book.count.to_f  %>
       <%= (@the_day_before * 100).round %>%</td>
     <% end %>
        </tbody>
        <thead>
            <th>今週の投稿</th>
            <th>前週の投稿</th>
              <th>前週比</th>
        </thead>
          <tbody>
           <td><%= @this_week_book.count %></td>
           <td><%= @last_week_book.count %></td>
           <% if @last_week_book.count == 0 %>
           <td>先週の投稿はなし</td>
           <% else %>
           <td><% @the_week_before =   @this_week_book.count / @last_week_book.count.to_f  %>
               <%= (@the_week_before * 100).round %>%</td>
               <%# 今週➗前週してx100 roundメソッド で四捨五入して%で表示させる%>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>