<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
        <%= render 'errors', book: @book %>
      <%= form_with model: @book do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Option</p>
      <%= f.text_area :body %>
    <%= f.submit 'Update Book' %>
  <% end %>
  <%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %>
    </div>
  </div>
</div>